* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


body {
    background-color: #f2e9dd;
}

.circular-image {
    border-radius: 50%;
}

nav {
    background-color: #666;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffd700;
}

.content {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.indent {
    padding-left: 20px;
}

.indentAgain {
    padding-left: 20px;
}

.legend{
    display: flex;
    margin-bottom: 20px;
}

.legend-item{
    width: 100px;
    height: 20px;
    border: 1px solid #000;
}

.expert{
    background-color: green;
}

.proficient{
    background-color: yellow;
}

.intermediate{
    background-color: orange;
}

.beginner{
    background-color: red;
}
