/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Apply styles to navigation bar */
nav {
    background-color: #666;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

/* Apply styles to main content */
.content {
    padding: 20px;
}

/* Apply styles to sections */
section {
    margin-bottom: 30px;
}

/* Apply styles to footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.indent {
    padding-left: 20px; /* Adjust the indentation as needed */
}
